.button {
  --transitionTime: 0ms;
  transition: all linear var(--transitionTime);
  display: inline-block;
  padding: 150px 250px;
  margin: 100px 100px;
  font-size: 240px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 75px;
  box-shadow: 0 45px #999;
  animation: button 21s;

}



.button2 {

display: inline-block;
cursor: pointer;
background-color: #4CAF50;
border-radius: 55px;
margin-left: 100px;
font-size: 140px;
text-decoration: none;
outline: none;
color: #fff;
text-align: center;

}

.button:hover {background-color: #3e8e41}

.button.disabled {

  background-color: #3e8e41;
  box-shadow: 0 25px #666;
  transform: translateY(4px);
  cursor: not-allowed;

}

p{
  font-size: 60px;
  margin: 100px 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
  font-size: 60px;
  margin: 100px 100px;

}



@keyframes button {

0% {
  background-color: #4CAF50;
}

25% {
  background-color: #ACB334;
}

50% {
  background-color: #FF8E15;
}

75% {
  background-color: #FF0D0D;
}

100% {
  background-color: black;
}
}

